*{
    background-color: black;
}
.topnav{
    color: rgb(130, 134, 138);
    text-align: center;
    word-spacing: 35px;
    font-size: small;
}
.secnav {
    height: 150px;
    width: 1300px;
    margin: 0 auto;
    display: block;
    background-color: rgb(38, 39, 41);
    color: red;

  }

  